.device-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #a3aebd; 
  padding: 20px;
}

.device-card {
  background-color: #5e817e; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.device-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #131212;
}

.device-message {
  font-size: 1.2rem;
  color: #110e0e;
  margin-bottom: 20px;
}

.device-info {
  font-size: 1rem;
  color: #141212;
  margin-top: 20px;
}

.device-info strong {
  font-weight: 600;
  color: #0f0d0d;
}

.device-message span {
  font-weight: bold;
  color: #2d9cdb; 
}

.device-title,
.device-info {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .device-card {
    padding: 20px;
  }
  .device-title {
    font-size: 1.5rem;
  }
  .device-message {
    font-size: 1rem;
  }
}
